.nav-container,
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #18181b;
  background-color: white;
  position: fixed;
  padding: 20px 0px 20px 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 1;
  background-color: #a1e1f1;
}

.title {
  padding-left: 20px;
  font-size: 35px;
  font-weight: bold;
}

ul {
  list-style: none;
}

.header-container ul {
  display: flex;
  margin: 0px;
  padding: 20px;
  gap: 10px;
}

.characters {
  padding-right: 20px;
}

.header-images {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid#18181b;
  margin: 5px;
}
