.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

ul {
  list-style: none;
}

.header-container ul {
  display: flex;
  margin: 0px;
  padding: 20px;
  gap: 10px;
}

.characters {
  padding-right: 20px;
}
