.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid black;
  width: 100%;
}

ul {
  list-style: none;
}

.header-container ul {
  display: flex;
  margin: 0px;
  gap: 10px;
}
